# Dependencias
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Control de versiones
.git
.gitignore
.gitattributes

# Configuración y entornos locales
.DS_Store
.vscode
.idea
.env
*.local

# Archivos de pruebas o coverage
coverage
*.spec.js
*.test.js
__tests__/
jest.config.js

# Build / caches
dist/
build/
.cache/
*.tgz

# Documentación innecesaria
*.md~
*.bak
